{% load static %}
<html>

<head>

<link rel="stylesheet" href="{% static 'css/lending.css' %}">

</head>
<body>


<div class ='bluepicture'>

<div>
  <a class="voyti" href="///">Войти</a>
</div>


<div>
  <a class="registraziya" href="///">Регистрация</a>
</div>


<div>
  <a class="kvantumy" href="///">Квантумы</a>
</div>



</div>


<div>

  <img class = "kvantoriumpicture" src = "{% static 'img/kvantorium.jpg' %}">

  </div>


  <div>
  
    <img class = "golubayakartina" src = "{% static 'img/bluephon.jpg' %}">
  </div>





   
   <div> 
    <h1 class="text1">
                Детский технопарк «Кванториум»-уникальная площадка дополнительного
                образования детей в сфере инженерных наук, оснащенная высокотехно-
                логичным и современным оборудованием.

                Детский технопарк «Кванториум Бор» реализует образовательные прог-
                раммы по направлениям: «IT-квантум», «Хайтек», «Промробоквантум», 
                «VR/AR-квантум», «Аэроквантум» и «Энерджиквантум».
                Дополнительные программы – «Английский язык», «Математика» и
                «Шахматы» - внедряют-ся в образовательный процесс и способствуют 
                развитию умственных способностей детей.

                Обучающиеся смогут участвовать в решении реальных производственных
                и научных задач, а также стать строителями инновационного будущего.</h1>
      </div>


   <div>
    <h2 class="text2">Кванториум Бор</h2>
   </div>

<div class="square">

	<img src="{% static 'img/i.jpg'%}"class="foto" >
	<img src="{% static 'img/14.jpg'%}"class="foto1" >
	<img src="{% static 'img/345.jpg'%}"class="foto2" >

	<div class="square2">
		<p class="ep">Мастер-класс «3D подставка» Дата: 27.09.2021 Время: 15:00 - 16:00 Возраст: 8 - 11 лет Кванториум Нижний Новгород</p>
	</div>
	<div class="square3">
		<p class="sp">Мастер-класс «3D подставка» Дата: 27.09.2021 Время: 15:00 - 16:00 Возраст: 8 - 11 лет Кванториум Нижний Новгород</p>
	</div>

	<div class="square4">
		<p class="sgp">Мастер-класс «3D подставка» Дата: 27.09.2021 Время: 15:00 - 16:00 Возраст: 8 - 11 лет Кванториум Нижний Новгород</p>
	</div>
  

</div>


<div class="aut">
   <h1>Логин или Email</h1>
   <p>Email: <input type="email" name="login"></p>
   <p>Пароль: <input type="password" name="pass"></p>
  
  <div> <button class="butt">войти</p></button></div>
  <a href="vk.com"><div class="butt1"><p>регистрация</p></div></a>
</div>
  <div> <button class="butt2"><p>каталог курсов</p></button></div>
 
<div class="logo1" src="{% static 'img/logo1.png'%}">

 <div class="text" align="center"><p align="center">

Контакты:

<br>Электронный адрес: bor@kvantorium52.ru

<br>Адрес: 606440, Нижегородская обл., г. Бор, п. Неклюдово, ул. Трудовая, д.10А

<br>Режим работы:

    <br>Пн-Пт: с 8:00 до 20:00 (Методический отдел с 9:00 до 18:00)
   <br>Сб: с 8:00 до 20:00 (Методический отдел не работает)
<br>Вс: Выходной     
</p>
</div>

</div>
<div class = "logo2" src="{% static 'img/logo2.png'%}">

  <div class="text2"><p align="center">
  Жамалетдинов Тимур Рушанович,
Конаров Данила Дмитриевич,
Набоков Антон Сергеевич,
Патокин Андрей Александрович,
Плегановский Денис Алексеевич,
Рущенко Михаил Алексеевич,
Тимербаев Тимофей Алексеевич,
Тихонов Анатолий Васильевич,
Федосеев Павел Михайлович,Щанкин Денис Александрович,
Яковлев Ярослав Васильевич.</p>
  <img  class = "logo3"src="{% static 'img/logo3.png'%}">
  <img  class = "logo4"src="{% static 'img/logo4.png'%}">
  <img  class = "logo5"src="{% static 'img/logo5.png'%)">
</h1>


</div>


</body>
</html>