.bluepicture{
position: relative;
width: 100%;
height: 91px;
left: 0px;
top: 0px;

background: #3587C2;
background-size: 100%;
}

.voyti{
position: absolute;
width: 143px;
height: 91px;
left: 85%;
top: 10%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 47px;
text-align: center;

color: #FFFFFF;
font-size: 1.9vw;
}

.kvantumy{
position: absolute;
width: 193px;
height: 91px;
left: 73%;
top: 10%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 47px;
text-align: center;

color: #FFFFFF;
font-size: 1.9vw;
}

.registraziya{
position: absolute;
width: 241px;
height: 91px;
left: 57%;
top: 10%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 47px;
text-align: center;

color: #FFFFFF;
font-size: 1.9vw;
}


.kvantoriumpicture{
position: relative;
height: 35%;
width: 100%;
left: 0px;
top: 30%;
background: url(kvantorium.jpg);
background-size: 100%;
}


.golubayakartina{

position: relative;
width: 100%;
height: 700px;
left: 0px;
top: 45%;

background: url(bluephon.jpg);
}


.text1{
position: absolute;
width: 55%;
height: 463px;
left: 5%;
top: 60%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 30px;

color: #FFFFFF;
font-size: 2vw;
}


.text2{
position: absolute;
width: 685px;
height: 127px;
left: 40%;
top: 43%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 45px;
line-height: 53px;

color: #FFFFFF;

}


.kartina1{
position: absolute;
width: 150px;
height: 130px;
left: 75%;
top: 60%;

background: url(kartina1.jpg);
border-radius: 20px;
max-width: 100%;
height: auto;
}


.kartina2{
position: absolute;
width: 150px;
height: 130px;
left: 75%;
top: 80%;

background: url(kartina2.jpg);
border-radius: 20px;
}



.kartina3{
position: absolute;
width: 150px;
height: 130px;
left: 75%;
top: 100%;

background: url(kartina3.jpg);
border-radius: 20px;
}

.square {
    height: 40vw;
    width: 100%;
    background-color: rgba(193, 222, 110, 0.81);
    
    position: relative;
}
.foto {
  top: 10%;
  left:1%;
  position: absolute;
  max-height: 38%;
  max-width: 25%;
  
  }
.foto1 {
    
    top: 9%;
    left:37%;
    position: absolute;
    max-height: 39%;
    max-width: 25%;
   
    }
.foto2 {
      top: 10%;
      left:74%;
      position: absolute;
      max-height:39%;
      max-width: 25%
      
      }

 
.square2 {
  position: absolute;
    height: 11.8vw;
    width: 23vw;
    background-color: rgba(193, 88, 43, 10);
  
    left: 7vw;
    top:60%;
	padding: 5px; /* Поля вокруг текста */
  border-radius:30px;
}
.ep{
  position: absolute;
  width: 95%;
  display: flex;
	padding-left: 5px;
  top: 5%;
      
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6vw;
      
  color: black;
  }
.square3 {
  
    position: absolute;
      height: 11.8vw;
      width: 23vw;
      
      background-color: brown;
      left: 35vw;
      top:60%;    
    background: rgba(193, 88, 43, 10);
  padding: 5px; /* Поля вокруг текста */
  border-radius:30px;
}
.sp{
  position: absolute;
  width: 95%;
  display: flex;
	padding-left: 5px;

  top: 5%;
      
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6vw;
      
  color: black;
  }
.square4 {
  position: absolute;
    height: 11.8vw;
    width: 23vw;
    background-color: rgba(193, 88, 43, 10);  
    top: 60%; 
    left: 70vw;
    
    padding: 5px; /* Поля вокруг текста */
    border-radius:30px;
}
.sgp{
  position: absolute;
  width: 95%;
  display: flex;
	padding-left: 5px;

  top: 5%;
      
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6vw;
      
  color: black;
  }


.butt{
  position: absolute;
  padding: 5px;
  background-color: green;
  border-radius: 10px;
  width: 108px;
  left: 10%;

}
.butt1{
  position: absolute;
  padding: 0000,5px;
  background-color: white;
  border-radius: 10px;
  width: 100px;
  left: 0%;

}
.butt2{
  position: absolute;
  padding: 5px;
  background-color: blue;
  border-radius: 10px;
  width: 20%;
  left: 35%;
  margin-top: 100px;
  float:center;
}

.butt2 p{
  font-size: 30px;
}
.logo1{
  position: relative;
    margin-top: 250px;
    width: 100%;
    background: url(logo1.png);
    background-size: 100%;
    height: 300px;
}

.aut{
  position: relative;
  left: 35%;
  width:100%;
  background-color:wight;
}
.text{
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size:30px;
    line-height:100%;
    text-align:center;
    left: 20%;

    color: #FFFFFF;
}
.logo2{
    position: absolute;
	
    width:100%;
    background: url("../img/logo2.png");
    background-size: 99%;
    height:23%;
}
.text2{
    position: absolute;
    left:20%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size:20px;
    line-height:90%;
	top:0px;
    color: #FFFFFF; 
}
.logo3{
 position: absolute;
    width: 3%;
    background-size: 99%;
    left: 83%;
}
.logo4{
 position: absolute;
    width:3%;
    left: 88%;
    background-size: 99%;
}
.logo5{
 position: absolute;
    left: 93%;
     width:3%;
    background-size: 99%;
}









